* {
    box-sizing: border-box;
}

:root {
    --just-black: #000000;
    --toxic-green: #08a75d;
    --plain-white: #FFFFFF;
    --scarlet-red: #e31b05;
    --ocean-blue: #0782b3;
    --concrete: #81878a;
    --type-pink: #d4668a;
}

::selection {
    color: grey;
    background-color: white;
    cursor: default;
}




/* Large screens */
@media screen and (min-width: 993px) {
    body {
        display: block;
        background: black;
    }
    
    header {
        display: block;
        background-color: black;
        color: var(--toxic-green);
    }
    
    #title-container {
        display: flex;
        flex: row;
        justify-content: space-evenly;
    }

    #sprite-container-left {
        display: block;
        align-self: center;
    }

    #second-title-container {
        display: block;
    }

    #sprite-container-right {
        display: block;

        align-self: center;
    }

    nav {
        display: flex;
        border: solid 2px black;
        justify-content: space-evenly;
        color: var(--toxic-green);
    }
    
    aside {
        display: flex;
        flex: row;
        border: solid 5px black;
        align-items: center;
    }

    #profile-pic {
        width: 50%;
        height: 50%;
        border-radius: 10px;
        border: solid 5px white;
    }

    #about-me-container {
        display: flex;
        flex-flow: column wrap;
        width: 50%;
    }


    #about-me-text {
        display: block;
        word-wrap: break-word;
        border: solid 1px black;
        width: 100%;
        height: auto;
        background-color: grey;
        color: white;
        text-align: center;
    }

    #lower-bar {
        display: block;
        background-color: black;
        width: 100%;
        height: 50px;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #main-project-container {
        display: flex;
        border: solid 5px black;
    }

    #main-project-link {
        display: block;
    }

    #mellifluous-pic {
        display: block;
        height: 100%;
        width: 100%;
        border: solid 5px white;
        border-radius: 10px;
    }

    #github-main-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
    }

    #secondary-projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-container {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        width: 40%;
        margin: 4px;
    }

    #weather-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #planner-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #password-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #github-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
        align-self: flex-end;
        width: 20%;
    }

    footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: white;
        padding-bottom: 15px;
        padding-left: 10px;
    }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        display: block;
        background: black;
    }
    
    header {
        display: block;
        background-color: black;
        color: var(--toxic-green);
    }
    
    #title-container {
        display: flex;
        flex: row;
        justify-content: space-evenly;
    }

    #sprite-container-left {
        display: block;
        align-self: center;
    }

    #second-title-container {
        display: block;
    }

    #sprite-container-right {
        display: block;

        align-self: center;
    }

    nav {
        display: flex;
        border: solid 2px black;
        justify-content: space-evenly;
        color: var(--toxic-green);
    }
    
    aside {
        display: flex;
        flex: row;
        border: solid 5px black;
        align-items: center;
    }

    #profile-pic {
        width: 50%;
        height: 50%;
        border-radius: 10px;
        border: solid 5px white;
    }

    #about-me-container {
        display: flex;
        flex-flow: column wrap;
        width: 50%;
    }


    #about-me-text {
        display: block;
        word-wrap: break-word;
        border: solid 1px black;
        width: 100%;
        height: auto;
        background-color: grey;
        color: white;
        text-align: center;
    }

    #lower-bar {
        display: block;
        background-color: black;
        width: 100%;
        height: 50px;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #main-project-container {
        display: flex;
        border: solid 5px black;
    }

    #main-project-link {
        display: block;
    }

    #mellifluous-pic {
        display: block;
        height: 100%;
        width: 100%;
        border: solid 5px white;
        border-radius: 10px;
    }

    #github-main-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
    }

    #secondary-projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-container {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        width: 40%;
        margin: 4px;
    }

    #weather-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #planner-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #password-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #github-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
        align-self: flex-end;
        width: 20%;
    }

    footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: white;
        padding-bottom: 15px;
        padding-left: 10px;
    }
}

/* Large smartphones */
@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
        display: block;
        background: black;
    }
    
    header {
        display: block;
        background-color: black;
        color: var(--toxic-green);
    }
    
    #title-container {
        display: flex;
        flex: row;
        justify-content: space-evenly;
    }

    #sprite-container-left {
        display: block;
        align-self: center;
    }

    #second-title-container {
        display: block;
    }

    #sprite-container-right {
        display: block;

        align-self: center;
    }

    nav {
        display: flex;
        border: solid 2px black;
        justify-content: space-evenly;
        color: var(--toxic-green);
    }
    
    aside {
        display: flex;
        flex: row;
        border: solid 5px black;
        align-items: center;
    }

    #profile-pic {
        width: 50%;
        height: 50%;
        border-radius: 10px;
        border: solid 5px white;
    }

    #about-me-container {
        display: flex;
        flex-flow: column wrap;
        width: 50%;
    }


    #about-me-text {
        display: block;
        word-wrap: break-word;
        border: solid 1px black;
        width: 100%;
        height: auto;
        background-color: grey;
        color: white;
        text-align: center;
    }

    #lower-bar {
        display: block;
        background-color: black;
        width: 100%;
        height: 50px;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #main-project-container {
        display: flex;
        border: solid 5px black;
    }

    #main-project-link {
        display: block;
    }

    #mellifluous-pic {
        display: block;
        height: 100%;
        width: 100%;
        border: solid 5px white;
        border-radius: 10px;
    }

    #github-main-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
    }

    #secondary-projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-container {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        width: 40%;
        margin: 4px;
    }

    #weather-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #planner-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #password-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #github-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
        align-self: flex-end;
        width: 20%;
    }

    footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: white;
        padding-bottom: 15px;
        padding-left: 10px;
    }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    body {
        display: block;
        background: black;
    }
    
    header {
        display: block;
        background-color: black;
        color: var(--toxic-green);
    }
    
    #title-container {
        display: flex;
        flex: row;
        justify-content: space-evenly;
    }

    #sprite-container-left {
        display: block;
        align-self: center;
    }

    #second-title-container {
        display: block;
    }

    #sprite-container-right {
        display: block;

        align-self: center;
    }

    nav {
        display: flex;
        border: solid 2px black;
        justify-content: space-evenly;
        color: var(--toxic-green);
    }
    
    aside {
        display: flex;
        flex: row;
        border: solid 5px black;
        align-items: center;
    }

    #profile-pic {
        width: 50%;
        height: 50%;
        border-radius: 10px;
        border: solid 5px white;
    }

    #about-me-container {
        display: flex;
        flex-flow: column wrap;
        width: 50%;
    }


    #about-me-text {
        display: block;
        word-wrap: break-word;
        border: solid 1px black;
        width: 100%;
        height: auto;
        background-color: grey;
        color: white;
        text-align: center;
    }

    #lower-bar {
        display: block;
        background-color: black;
        width: 100%;
        height: 50px;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #main-project-container {
        display: flex;
        border: solid 5px black;
    }

    #main-project-link {
        display: block;
    }

    #mellifluous-pic {
        display: block;
        height: 100%;
        width: 100%;
        border: solid 5px white;
        border-radius: 10px;
    }

    #github-main-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
    }

    #secondary-projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-container {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        width: 40%;
        margin: 4px;
    }

    #weather-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #planner-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #password-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    #github-link {
        display: inline;
        border: solid 5px white;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        color: black;
        align-self: flex-end;
        width: 20%;
    }

    footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: white;
        padding-bottom: 15px;
        padding-left: 10px;
    }

}








