* {
    box-sizing: border-box;
}

:root {
    --just-black: #000000;
    --toxic-green: #08a75d;
    --plain-white: #FFFFFF;
    --scarlet-red: #e31b05;
    --ocean-blue: #0782b3;
    --concrete: #81878a;
    --type-pink: #d4668a;
}

::selection {
    color: grey;
    background-color: white;
    cursor: default;
}




/* Large screens */
@media screen and (min-width: 993px) {
    body {
        display: block;
        background-color: black;
        color: green;
    }
    
    header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: black;
    }
    
    #title-element {
        display: flex;
        flex: row;
        height: 110px;
    }

    #left-title {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        background-color: white;
        align-self: center;
        margin-right: 30px;
        height: 50%;
        width: 100%;
    }

    #center-title {
        display: flex;
        flex-flow: column wrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #title {
        display: block;
        font-size: 50px;
        white-space: nowrap;
        text-align: center;
    }

    #subtitle {
        display: block;
        font-size: 30px;
        text-align: center;
    }

    #right-title{
        display: block;
        border: solid 5px white;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        margin-left: 30px;
        height: 50%;
        width: 100%;
    }

    nav {
        display: flex;
        flex: row;
        background-color: black;
        justify-content: space-evenly;
        color: black;
        margin: 5px;
    }

    #nav-link {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 3px;
        text-align: center;
    }

    main {
        display: block;
        flex-flow: row wrap;
    }

    aside {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 300px;
        height: 220px;
        position: relative;
        left: 150px;
        top: 100px;
    }

    #profile-sprite {
        display: block;
        border: solid 5px grey;
        border-radius: 1000px;
        width: 200px;
        height: 200px;
        background-color: white;
    }

    #about-text {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 270px;
        height: auto;
        align-self: center;
        margin: 1px;
        background: white;
        color: black;
        height: 200px;
    }

    #projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-top: -170px;
    }

    #main-project {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 50%;
        height: 50%;
        position: relative;
        left: 100px;
    }

    #main-project-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 60%;
        height: 90%;
        margin-top: 5px;
    }

    #main-project-link {
       display: flex;
       justify-content: center;
       height: 80%;
    }

    #main-project-pic {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 90%;
        height: 80%;
    }

    #main-project-text {
        display: block;
        color: black;
    }

    #github-link {
        display: block;
        color: black;
    }

    #secondary-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        height: 50%;
    }

    #project-card {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 20%;
        height: 80%;
        margin: 20px;
    }

    #secondary-project-link {
        display: flex;
        justify-content: center;
        height: 80%;
    }

    #secondary-project-pic {
        display: flex;
        width: 100%;
        height: auto;
        border: solid 5px white;
        border-radius: 10px;
    }

    #secondary-project-text {
        display: block;
        color: black;
    }

    #contact-info {
        display: flex;
        flex-flow: row wrap;
        margin: 20px;
        width: 30%;
        justify-content: center;
        
    }

    #contact-title {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        justify-content: center;
        color: black;
        background-color: white;
        position: relative;
        left: 600px;
    }

    #contact-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        position: relative;
        left: 600px;
        
    }

    #phone-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #email-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #github-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #linkedin-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        display: block;
        background-color: black;
        color: green;
    }
    
    header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: black;
    }
    
    #title-element {
        display: flex;
        flex: row;
        height: 110px;
    }

    #left-title {
        display: block;
        border: solid 2px white;
        border-radius: 10px;
        background-color: white;
        align-self: center;
        margin-right: 30px;
        height: 50%;
        width: 100%;
    }

    #center-title {
        display: flex;
        flex-flow: column wrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #title {
        display: block;
        white-space: nowrap;
        font-size: 20px;
        text-align: center;
    }

    #subtitle {
        display: block;
        font-size: 30px;
        text-align: center;
    }

    #right-title{
        display: block;
        border: solid 2px white;
        border-radius: 10px;
        background-color: white;
        align-self: center;
        margin-left: 30px;
        height: 50%;
        width: 100%;
    }

    nav {
        display: flex;
        flex: row;
        background-color: black;
        justify-content: space-evenly;
        color: black;
        margin: 5px;
    }

    #nav-link {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 3px;
        text-align: center;
    }

    aside {
        display: flex;
        align-items: center;
    }

    #profile-sprite {
        display: block;
        border: solid 5px grey;
        border-radius: 1000px;
        width: 200px;
        height: 200px;
        background-color: black;
    }

    #about-text {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 50%;
        height: auto;
        margin: 5px;
        background: white;
        color: black;
    }

    #main-project {
        display: flex;
        justify-content: center;
        
    }

    #main-project-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 70%;
        height: 80%;
        margin-top: 5px;
    }

    #main-project-link {
       display: flex;
       justify-content: center;
       height: 80%;
    }

    #main-project-pic {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 90%;
        height: 80%;
    }

    #main-project-text {
        display: block;
        color: black;
    }

    #github-link {
        display: block;
        color: black;
    }

    #secondary-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-card {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 47%;
        height: 100%;
        margin: 5px;
    }

    #secondary-project-link {
        display: flex;
        justify-content: center;
        height: 80%;
    }

    #secondary-project-pic {
        display: flex;
        width: 100%;
        height: auto;
        border: solid 5px white;
        border-radius: 10px;
    }

    #secondary-project-text {
        display: block;
        color: black;
    }

    #contact-info {
        display: block;
        margin: 20px;
    }

    #contact-title {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        justify-content: center;
        color: black;
        background-color: white;
    }

    #contact-container {
        display: flex;
        flex-flow: column wrap;
        
    }

    #phone-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #email-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #github-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #linkedin-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
}

/* Large smartphones */
@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
        display: block;
        background-color: black;
        color: green;
    }
    
    header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: black;
    }
    
    #title-element {
        display: flex;
        flex: row;
        height: 110px;
    }

    #left-title {
        display: block;
        border: solid 2px white;
        border-radius: 10px;
        background-color: white;
        align-self: center;
        margin-right: 30px;
        height: 50%;
        width: 100%;
    }

    #center-title {
        display: flex;
        flex-flow: column wrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #title {
        display: block;
        white-space: nowrap;
        font-size: 20px;
        text-align: center;
    }

    #subtitle {
        display: block;
        font-size: 30px;
        text-align: center;
    }

    #right-title{
        display: block;
        border: solid 2px white;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        margin-left: 30px;
        height: 50%;
        width: 100%;
    }

    nav {
        display: flex;
        flex: row;
        background-color: black;
        justify-content: space-evenly;
        color: black;
        margin: 5px;
    }

    #nav-link {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 3px;
        text-align: center;
    }

    aside {
        display: flex;
        align-items: center;
    }

    #profile-sprite {
        display: block;
        border: solid 5px grey;
        border-radius: 1000px;
        width: 200px;
        height: 200px;
        background-color: black;
    }

    #about-text {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 50%;
        height: auto;
        margin: 5px;
        background: white;
        color: black;
    }

    #main-project {
        display: flex;
        justify-content: center;
        
    }

    #main-project-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 70%;
        height: 80%;
        margin-top: 5px;
    }

    #main-project-link {
       display: flex;
       justify-content: center;
       height: 80%;
    }

    #main-project-pic {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 90%;
        height: 80%;
    }

    #main-project-text {
        display: block;
        color: black;
    }

    #github-link {
        display: block;
        color: black;
    }

    #secondary-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-card {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 47%;
        height: 100%;
        margin: 5px;
    }

    #secondary-project-link {
        display: flex;
        justify-content: center;
        height: 80%;
    }

    #secondary-project-pic {
        display: flex;
        width: 100%;
        height: auto;
        border: solid 5px white;
        border-radius: 10px;
    }

    #secondary-project-text {
        display: block;
        color: black;
    }

    #contact-info {
        display: block;
        margin: 20px;
    }

    #contact-title {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        justify-content: center;
        color: black;
        background-color: white;
    }

    #contact-container {
        display: flex;
        flex-flow: column wrap;
        
    }

    #phone-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #email-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #github-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #linkedin-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    body {
        display: block;
        background-color: black;
        color: green;
    }
    
    header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: black;
    }
    
    #title-element {
        display: flex;
        flex: row;
        height: 110px;
    }

    #left-title {
        display: block;
        border: solid 2px white;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        margin-right: 30px;
        height: 50%;
        width: 100%;
    }

    #center-title {
        display: flex;
        flex-flow: column wrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #title {
        display: block;
        white-space: nowrap;
        font-size: 20px;
        text-align: center;
    }

    #subtitle {
        display: block;
        font-size: 30px;
        text-align: center;
    }

    #right-title{
        display: block;
        border: solid 2px white;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        margin-left: 30px;
        height: 50%;
        width: 100%;
    }

    nav {
        display: flex;
        flex: row;
        background-color: black;
        justify-content: space-evenly;
        color: black;
        margin: 5px;
    }

    #nav-link {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 3px;
        text-align: center;
    }

    aside {
        display: flex;
        align-items: center;
    }

    #profile-sprite {
        display: block;
        border: solid 5px grey;
        border-radius: 1000px;
        width: 200px;
        height: 200px;
        background-color: black;
    }

    #about-text {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 50%;
        height: auto;
        margin: 5px;
        background-color: white;
        color: black;
    }

    #main-project {
        display: flex;
        justify-content: center;
        
    }

    #main-project-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 70%;
        height: 80%;
        margin-top: 5px;
    }

    #main-project-link {
       display: flex;
       justify-content: center;
       height: 80%;
    }

    #main-project-pic {
        display: block;
        border: solid 5px white;
        border-radius: 10px;
        width: 90%;
        height: 80%;
    }

    #main-project-text {
        display: block;
        color: black;
    }

    #github-link {
        display: block;
        color: black;
    }

    #secondary-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #project-card {
        display: flex;
        flex-flow: row wrap;
        border: solid 5px white;
        border-radius: 10px;
        background: white;
        width: 47%;
        height: 100%;
        margin: 5px;
    }

    #secondary-project-link {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    #secondary-project-pic {
        display: flex;
        width: 100%;
        height: 200px;
        border: solid 5px white;
        border-radius: 10px;
    }

    #secondary-project-text {
        display: block;
        color: black;
    }

    #contact-info {
        display: block;
        margin: 20px;
    }

    #contact-title {
        display: flex;
        border: solid 5px white;
        border-radius: 10px;
        justify-content: center;
        color: black;
        background-color: white;
    }

    #contact-container {
        display: flex;
        flex-flow: column wrap;
        
    }

    #phone-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #email-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #github-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    #linkedin-container {
        display: flex;
        flex-direction: column;
        border: solid 5px white;
        border-radius: 10px;
        color: black;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
}








